/*         */
/* IMPORTS */
/*         */

@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap';
@import './reset.local.css';

/*         */
/* FONTS */
/*         */

@font-face {
	font-family: 'rbc_displayregular';
	src: url('./fonts/rbc_display_regular-webfont.woff') format('woff2'),
		url('./fonts/rbc_display_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rbc_displayitalic';
	src: url('./fonts/rbc_display_italic-webfont.woff2') format('woff2'),
		url('./fonts/rbc_display_italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rbc_displaybold';
	src: url('./fonts/rbc_display_bold-webfont.woff2') format('woff2'),
		url('./fonts/rbc_display_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*      */
/* BASE */
/*      */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h3 {
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin-bottom: 0;
}

ul {
	margin-bottom: 0;
}

.main {
	padding: 3.5rem 0;
}

.wrapper {
	max-width: 130rem;
	padding: 0 2rem;
	margin: 0 auto;
}

/*        */
/* HEADER */
/*        */

.mainHeader {
	background: #006ac3;
	padding: 2.5rem 0;
	color: #fff;
}

.header .wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.headerTitle {
	font-family: 'rbc_displaybold';
	display: flex;
}

.headerTitle h1 {
	font-size: 1.9rem;
}

.headerLogo {
	width: 75px;
	margin-right: 2rem;
}

.headerLogo svg {
	width: 75px;
	position: absolute;
}

.headerAuth {
	display: flex;
	align-items: center;
}

.headerAuth p {
	font-size: 1.4rem;
	margin-right: 1rem;
}

.signOut {
	background: none;
	text-transform: uppercase;
	border: none;
	color: #fff;
	font-weight: 600;
	font-size: 1.4rem;
	padding: 0 1rem;
	border-left: 1px solid #fff;
}

/*     */
/* NAV */
/*     */

.nav {
	width: 100%;
	border-bottom: 1px solid #b2b2b2;
}

.navList {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 100%;
}

.navItem {
	padding: 1.5rem 0rem;
	color: #006ac3;
}

.navList li:not(:last-child) {
	margin-right: 3rem;
}

.navItem {
	font-size: 1.3rem;
	display: block;
	text-transform: uppercase;
}

.navItem:hover {
	text-decoration: none;
	color: #252525;
}

.navActive {
	color: #252525;
	border-bottom: 3px solid #006ac3;
}

/*       */
/* LOGIN */
/*       */

.login .main .wrapper {
	display: flex;
	max-width: 100rem;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 12rem;
}

.intro {
	max-width: 40rem;
}

.intro h1 {
	font-family: 'rbc_displaybold';
	font-size: 2.4rem;
	font-weight: 400;
	color: #006ac3;
	margin-bottom: 1rem;
}

.intro h2 {
	font-family: 'rbc_displaybold';
	font-size: 4rem;
	font-weight: 400;
	margin-bottom: 4.5rem;
	color: #006ac3;
}

.intro p {
	font-size: 2rem;
}

.authForm {
	display: flex;
	flex-direction: column;
}

.authForm input {
	width: 40rem;
	padding: 1.5rem;
	font-size: 1.6rem;
	margin-bottom: 2rem;
	border: 1px solid #707070;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.authForm button {
	background: #fedf01;
	padding: 1.5rem;
	font-size: 1.6rem;
	border: none;
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
}

.authForm button:hover {
	background: #d8c111;
}

.authForm .authMessage a {
	font-size: 1.6rem;
	color: #006ac3;
	display: block;
	margin-bottom: 1.5rem;
}

/*       */
/* TABS  */
/*       */

.nav-tabs {
	border: 0;
}

.nav-tabs .nav-link {
	color: #252525;
	font-size: 1.4rem;
	width: 33.33%;
	text-align: center;
	padding: 1.5rem 0;
	border: 1px solid #efefef;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.nav-tabs .nav-link.active {
	color: #252525;
	background: #efefef;
	border: 0;
}

/*       */
/* TABLE */
/*       */

.react-bootstrap-table {
	overflow-x: auto;
}

.react-bootstrap-table table {
	min-width: 1030px;
}

.sort {
	margin-left: 0.5rem;
}

.table {
	font-size: 1.4rem;
}

.table td {
	padding: 1.5rem;
}

.table thead th {
	color: #0051a5;
}

.table thead th {
	border: none;
}

.table td {
	border-top: 1px solid #b2b2b2;
}

.tableImg {
	object-fit: cover;
	width: 100%;
	max-height: 78px;
	width: 105px;
}

.filtersContainer {
	background: #efefef;
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
	padding: 2rem 1.25rem;
	align-items: center;
}

.tableFilters {
	display: flex;
	flex-wrap: wrap;
}

.tableFilters select {
	margin-bottom: 0;
	width: 150px;
}

.tableFilter:not(:last-child) {
	margin-right: 1rem;
}

.tableFilter h4 {
	font-size: 1.4rem;
	font-weight: 400;
}

.filterButtons {
	align-self: flex-end;
	display: flex;
}

.filterBtn {
	background: linear-gradient(#fff, #efefef);
	border: 1px solid #c4c4c4;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	font-size: 1.3rem;
}

.filterBtn:not(:last-child) {
	margin-right: 1rem;
}

.filterSelect {
	line-height: 1.3;
	font-size: 1.3rem;
	padding: 0.75rem 2.75rem 0.75rem 0.75rem;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	margin-bottom: 1rem;
	background-image: url('https://svgur.com/i/J_u.svg'),
		linear-gradient(to bottom, #fff, #efefef);
	background-repeat: no-repeat, repeat;
	background-position: right 1rem top 50%, 0 0;
	background-size: 0.9em auto, 100%;
}

.tableExport {
	background: #efefef;
	padding: 1.25rem;
	margin-bottom: 1.5rem;
}

.tableExport a {
	font-size: 1.4rem;
	color: #007bff;
}

.react-bootstrap-table .row-expansion-style {
	padding: 0;
}

.react-bootstrap-table th[data-row-selection] {
	width: 70px;
}

.expandHeader {
	padding: 1.5rem 1.5rem;
	background: #006ac3;
	color: #fff;
}

.expandContent {
	display: flex;
	justify-content: center;
	padding: 3rem 2rem;
}

.expandImageContainer {
	max-width: 550px;
	max-height: 600px;

	margin-right: 5rem;
	display: flex;
	justify-content: center;
}

.expandImageContainer img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	object-fit: contain;
}

.expandForm {
	padding: 3rem 5rem;
	background: #efefef;
}

.expandInput {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.expandInput h4 {
	width: 150px;
	margin-bottom: 0;
}

.expandSelect {
	line-height: 1.3;
	font-size: 1.3rem;
	padding: 0.75rem 0.75rem;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	width: 400px;
	background-image: url('https://svgur.com/i/J_u.svg'),
		linear-gradient(to bottom, #fff, #efefef);
	background-repeat: no-repeat, repeat;
	background-position: right 1.5em top 50%, 0 0;
	background-size: 0.9em auto, 100%;
}

.textArea h4 {
	align-self: flex-start;
}

.textArea p {
	color: rgb(209, 0, 0);
	margin-top: 1rem;
}

.expandTextArea {
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	padding: 0.75rem 0.75rem;
	width: 400px;
}

.adminNote {
	width: 400px;
}

.expandBtns {
	margin-top: 4rem;
	display: flex;
	justify-content: right;
}

.expandBtns button {
	border: 0;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1rem 2rem;
	text-transform: uppercase;
}

.expandBtns button:not(:last-child) {
	margin-right: 1.5rem;
}

.expandBtns .updateBtn {
	background: #006ac3;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
}

.expandBtns .updateBtn:hover {
	background: #005092;
}

.expandBtns .approveBtn {
	background: #60bf00;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
}

.expandBtns .approveBtn:hover {
	background: #468b00;
}

.expandBtns .rejectBtn {
	background: #d10000;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
}

.expandBtns .rejectBtn:hover {
	background: #aa0000;
}

/*       */
/* TOAST */
/*       */

.notification {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
}

.notificationContent {
	background: #d1efc0;

	padding: 1.5rem;
}

.notification p {
	font-size: 1.6rem;
	text-align: center;
}

/*           */
/* ANALYTICS */
/*           */

/* .pvtHorizList {
	width: 100%;
} */

.pvtUi {
	width: 100%;
}

.pvtAxisContainer,
.pvtVals {
	background: #efefef !important;
}

/*               */
/* MEDIA QUERIES */
/*               */

@media only screen and (max-width: 1140px) {
	.tableFilter,
	.filterButtons {
		margin: 1rem 0;
	}

	/* .tableFilters select {
		margin-bottom: 0;
		width: 100px;
	} */
}

@media only screen and (max-width: 425px) {
	.navList li:not(:last-child) {
		margin-right: 2.3rem;
	}

	.headerLogo {
		width: auto;
	}

	.headerLogo svg {
		width: 50px;
		position: relative;
	}

	.headerTitle h1 {
		align-self: center;
		margin-bottom: 0;
	}

	.filtersContainer {
		flex-direction: column;
	}

	.tableFilters {
		justify-content: space-between;
	}

	.tableFilter:not(:last-child) {
		margin-right: 0;
	}

	.tableFilters select {
		margin-bottom: 0;
		width: 150px;
	}
}
