/*         */
/* IMPORTS */
/*         */

/* prettier-ignore */
@import ("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

/*       */
/* SETUP */
/*       */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

/*      */
/* BASE */
/*      */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #252525;
}

.wrapper {
	padding: 0 2rem;
	width: 100%;
}

h2 {
	font-size: 2.2rem;
	font-weight: 400;
}

h3 {
	font-size: 1.9rem;
}

p {
	font-size: 1.4rem;
}

a {
	color: inherit;
	text-decoration: none;
}

.page {
	margin: 8rem 0 10rem 0;
}

/*     */
/* NAV */
/*     */

.header {
	position: fixed;
	top: 0;
	background: #006ac3;
	padding: 1rem 0;
	width: 100%;
	display: block;
	overflow: auto;
}

.header .wrapper {
	display: flex;
	align-items: center;
}

.header .RBCLogo {
	height: 42.5px;
	width: auto;
	margin-right: 2.5rem;
}

.headerTitle {
	color: #fff;
	font-size: 1.9rem;
	font-weight: 700;
}

/*     */
/* NAV */
/*     */

.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #006ac3;
	padding: 1.1rem 0;
	width: 100%;
	display: block;
	overflow: auto;
}

.navList {
	display: flex;
	justify-content: space-between;
}

.navItem {
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navItem svg {
	fill: #fff;
	margin-bottom: 1rem;
	font-size: 2.8rem;
}

.navActive {
	color: #ffdf36;
}

/*           */
/* DASHBOARD */
/*           */

.dashIntro {
	text-align: center;
	margin-bottom: 3.5rem;
}

.dashIntro h2 {
	margin-bottom: 1.2rem;
}

.dashSubmit {
	padding: 3rem;
	background: #e3f4ff;
	border: 2px dashed #006ac3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3.2rem;
}

#photoUpload {
	display: none;
}

.dashSubmit svg {
	margin-bottom: 2rem;
}

.dashSubmit h3 {
	text-transform: uppercase;
	font-size: 2rem;
	max-width: 16.6rem;
	text-align: center;
}

/*         */
/* OPTIONS */
/*         */

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #c9c9c9;
	padding: 1.5rem 0;
}

.option:last-child {
	border-bottom: 1px solid #c9c9c9;
}

.optionTitle {
	display: flex;
	align-items: center;
}

.optionTitle svg {
	margin-right: 1.4rem;
	color: #006ac3;
	font-size: 2rem;
}

.optionTitle h3 {
	font-weight: 500;
}

.imagePreview {
	position: relative;
	text-align: center;
}

/*               */
/* IMAGE CAPTURE */
/*               */

.imagePreview > img {
	width: 100%;
}

@media (max-width: 768px) {
	.imagePreview > img {
		width: 100%;
	}
}

/* fullscreen enable by props */
.imagePreviewFullScreen > img {
	width: 100vw;
	height: auto;
}

/*                       */
/* SPLASH/LOGIN/REGISTER */
/*                       */

.auth,
.splash {
	margin: auto;
	background: #006ac3;
	height: 100vh;
}

.auth .wrapper,
.splash .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.authForm {
	color: #fff;
}

.authForm input {
	outline: 0;
	background: #fff;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.authBtn {
	text-transform: uppercase;
	font-weight: 600;
	outline: 0;
	background: #fedf01;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #000;
	font-size: 14px;
	transition: all 0.3 ease;
	display: block;
	text-align: center;
}

.authBtn:hover,
.authBtn:active,
.authBtn:focus {
	background: #3281f7;
}

.authBtn:not(:first-child) {
	margin-top: 1.5rem;
}

.authBtnSecondary {
	background: #dbdbdb;
}

.authForm .authMessage {
	margin: 15px 0 0;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
}

.authForm .authMessage a {
	color: #fff;
	text-decoration: underline;
}

.authFormLogo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
}

.authFormLogo .RBCLogo {
	height: 10.5rem;
	width: auto;
	margin-left: 1rem;
	margin-bottom: 3rem;
}

.authFormLogo img {
	width: 15%;
	margin-bottom: 1rem;
}

.authFormLogo h1 {
	font-size: 2.6rem;
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.splash .authFormLogo h1 {
	margin-bottom: 2.5rem;
}

.authFormLogo p {
	padding: 0 2rem;
}

/*        */
/* SUBMIT */
/*        */

.submitForm {
	display: flex;
	flex-direction: column;
}

.photoPreview {
	background: #e3f4ff;
	border: 2px dashed #006ac3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3.2rem;
}

.photoPreview img {
	max-width: 100%;
	max-height: 50vh;
}

.submit .dashSubmit {
	margin-bottom: 2rem;
}

.select {
	background: linear-gradient(#fff, #efefef);
	line-height: 1.3;
	font-size: 1.6rem;
	padding: 1.2rem 1rem;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	margin-bottom: 1rem;
}

.comment {
	padding: 1.2rem 1rem;
	font-size: 1.6rem;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.submitBtns {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.submitBtn {
	background: #006ac3;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	border: none;
	padding: 1.2rem 2.5rem;
	text-transform: uppercase;
}

.cancelBtn {
	border: 0;
	background: none;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #006ac3;
}
